.container{
    background-color: white;
    text-align: center;
    padding: 10rem;
    outline: 1px solid black;
}
button{
    padding: 10px;
}
.hidden-content{

    padding: 1rem;
    display: none;
}
.hidden-content.reveal-btn{
    display: block
}
.text{
    outline: 1px solid black;
}